{
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 100,
    "plugins": ["prettier-plugin-tailwindcss"],
    "spaceBeforeFunctionParen": true,
    "space-before-function-paren": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "keyword-spacing": ["error", { "before": true, "after": true }]
}
